<?xml version="1.0" encoding="UTF-8"?>
<beans  
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!--HandleMapping, HandlerAdapter 요청 분리 , 실행 시켜주고, mvc의 필요한 어노테이션을 활성화   -->
	<mvc:annotation-driven/>
	
	<!--해당 패키지 경로를 읽어서 어노테이션이 붙어있는 클래스를 빈(bean)으로 생성 -->
	<context:component-scan base-package="coffemilk.controller"/>


	<!--뷰 리졸버 view Resolver  -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	
	<!--정적자원 맵핑 js, html, css, img 파일들에 대해서 컨트롤러를 거치지 않고 화면을 보여주게 처리  -->
	<mvc:resources location="/resource/" mapping="/resource/**"/>
	
</beans>